@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Merienda+One&display=swap');

/*

font-family: 'Merienda One', cursive; // Per titolo header e footer link
font-family: 'ABeeZee', sans-serif; // Per il contenuto delle pagine

*/


html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(48, 47, 47);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 70px auto 200px;
    grid-template-areas: "header"
                         "menu"
                         "content"
                         "footer";
    height: 100%;
}

header {
    grid-area: header;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474646;
}

.nav-menu a {
    min-width: 200px;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    font-family: 'Merienda One', cursive;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-menu a:hover {
    background-color: rgb(48, 47, 47);
    color: white;
}


.main-title {
    font-family: 'Merienda One', cursive;
    font-size: 51px;
    color: rgb(48, 47, 47);
    text-shadow: 2px 2px white;
}

.page-content {
    grid-area: content;
    font-family: 'ABeeZee', sans-serif;
    background-color: rgb(48, 47, 47);
    color: white;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    /* background-color: red; */
}

.page-content img {
    border: 1px solid white;
}

footer {
    grid-area: footer;
    background-color: #6B605C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.link-container {
    /* border: 1px solid white; */
    padding: 30px;
}

.link-container a {
    margin: 25px;
    font-family: 'Merienda One', cursive;
    color: white;
    text-decoration: none;
}

.link-container a:hover {
    text-decoration: underline;
}